body {
   
    background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to red, orange, yellow, green, blue, indigo, violet); /* Standard syntax */
    font-family: Algerian;
}
fieldset {
   
}

img {
    width: 50%;
}
h1, h2 {
    margin: 20px auto;
    padding: 10px;   
    width: 30%;
    border: 2px solid white;
    border-radius: 10px 0 10px 0;
        text-align: center;
}
h3 {
    font-size: 1rem;
}
article, .price{
    background-color: #dcdcdc;
    margin: 0 auto;
    font-size: 2rem;
}
.price {
     -ms-border-radius: 20px;
    border-radius: 20px;
    width: 60%; 
    text-align: center;
}

fieldset {
    background-color: lightblue;
    text-decoration: underline;
}

legend {
    border: 2px solid white;
    padding: 10px;
    font-weight: bold;
    background-color: brown;
    width: 80%;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

h3 {
    color: #00008b;
    font-family: Algerian;
    font-size: 2rem;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

div.foodContainer{
   
    margin-bottom: 15px;
    height: 300px;
}
